/* Buttons */
.btn-primary {
	background-color: #24B290;
	border-color: #24B290; 
}

.btn-primary:hover {
	background-color: #24B290;
	border-color: #24B290; 
}

/* Background */

.bg-green { 
  background-color: #24B290;
}

/* Menu */

.logo {
  margin-left: auto;
  margin-right: 40%;
}

.navbar i{
  color: #fff;
  font-size: 20px;
}

/* Login */

.class_image_logo{
  max-width: 100%;
}

.class-logar-button{
  background-color: #24B290 !important;
  border: none;
}
.b_class{
  color: #24B290;
  font-size: 40px;
}

#inputEmail:focus,
#inputPassword:focus{
  color: #24B290 !important;
  border-color: #24B290 !important;
}

.green{
    color: #24B290 !important;
}
.row_cadastro{
  font-weight: normal;
}

/* Médicos */

.img-medico {
  border-radius: 100%;
  width: 50px;
}

.estrelas input[type=radio] {
  display: none;
}

.estrelas label i.fa:before {
  content:'\f005';
  color: #CCC;
}

.estrelas input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
}

.text-green {
  color: #24B290 !important;
  font-weight: bold;
}

.text-green a {
  color: #24B290;
  text-decoration: none;
}

.text-green a:hover {
  color: #24B290;
}

table tr th,
table tr td{
  padding: 10px;
} 

/* Perfil */
.avatar {
  width: 200px;
}

.text-box {
  /* max-width: 420px; */
  text-align: justify;
}



a {
  text-decoration: none;
}
h2 a{
  color: #24B290 !important;
}
a:hover {
  color:  #24B290;
}

a:visited {
  color:  #24B290; 
}

@media only screen and (max-width: 767px){
  .avatar {
    width: 180px;
  }
}